html{
    scroll-behavior: smooth;
}

*:focus{
    border: solid 0.2rem #FFCB05;
}

.skip a{
    background: #FFFFFF;
    border: 0.2em solid #FFCB05;
    color: #00274C;
    left: 0;
    padding: 1rem;
    -webkit-transition: top 1s ease-out;
    transition: top 0.3s ease-out;
    z-index: 1;
    position: absolute;
    top: -10rem;
}

.skip a:focus{
    top: 1rem;
}

.navigation {
    padding: 1rem;
    background-color: #00274C;
    text-align: center;
}

.navigation img {
    max-height: 10em;
    justify-self: center;
    margin: 1rem 0;
}

.navigation ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navigation a {
    font-family: 'helvetica', 'times', serif;
    display: block;
    color: #00274C;
    padding: 0.5rem;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    font-weight: bold;
    margin: 0.5rem;
}

.navigation a.active{
    background-color: #FFCB05;
    border: 0.2em solid #FFFFFF;
}

.navigation a.active:focus{
    border: solid 0.2em red;
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
}

.container h1{
    font-family: 'Trebuchet MS','times', serif;
    font-size: 2rem;
    color: #00274C;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    background-color: #FFCB05;
    border-radius: 0.5rem;
}
.container ul {
    list-style: disc;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.container li{
    padding: 0.5rem 0;
}

.container ol {
    list-style: decimal;
    padding-left: 1.5rem;
}

.content{
    padding: 1em;
    background: #FFFFFF ;
    box-shadow: 0 0.5em 0.5em lightgrey;
    border-radius: 0.5em;
}

.content h2{
    font-size: 1.5rem;
    color: #00274C;
    border-bottom: 0.1rem solid #FFCB05;
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
    font-weight: bold;
}

.content p, .intro p{
    padding: 0.5rem 0;
}

.content h3{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 0 0.5rem 0;
}
.content a {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

footer {
    background-color: #00274C;
    color: #FFFFFF;
    text-align: center;
    padding: 3rem;
    line-height: 2;
}

footer a {
    color: #FFCB05;
    text-decoration: underline;
}

.subscribe{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-self: center;
    text-align: center;
    margin-top: 3rem;
}

.subscribe h2 {
    font-size: 1.5rem;
    justify-self: left;
}


.subscribe input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #FFFFFF;
    width: 100%;
    color: #00274C;
    text-align: left;
    margin-bottom: 1rem;
    display: inline-block;
}

.subscribe button {
    padding: 0.5rem;
    background-color: #FFCB05;
    color: #00274C;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.subscribe button:hover {
    opacity: 0.6;
}

.error-page {
    display: grid;
    place-items: center;
    text-align: center;
    height: 40rem;
}

.error-page h1 {
    font-size: 6rem;
    color: #00274C;
    margin: 2rem;
}

.error-page p {
    font-size: 2rem;
    color: #00274C;
}

.return-button {
    background-color: #FFCB05;
    color: #00274C;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    display: inline-block;
    margin-top: 5rem;
}

.return-button:hover {
    opacity: 0.6;
}


@media screen and (min-width:1350px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .container .content:first-of-type {
        grid-column: 1 / -1;
    }

    .container h1 {
        font-size: 2.5rem;
        grid-column: span 2;
        text-align: center;
    }
    .content h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .content img {
        display: block;
        max-width: 80%;
        max-height: 400px;
        margin: 2rem auto;
    }

    .content p, .content ul, .content ol {
        font-size: 1.3rem;
        line-height: 1.6;
    }

    .content figcaption{
        text-align: center;
    }

    .navigation a {
        font-size: 1.3rem;
        padding: 10px 40px;
    }

    .navigation {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .navigation ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    .navigation nav {
        grid-column: -1;
        display: grid;
    }

    .navigation img {
        max-height: 5rem;
        justify-self: left;
        margin-left: 3rem auto;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: left;
    }

    .info p{
        justify-self: left;
        font-size: 1.3rem;
    }

    .subscribe{
        display: grid;
        grid-template-rows: auto auto auto;
        justify-self: right;
        text-align: left;
    }

    .subscribe h2 {
        font-size: 2rem;
        justify-self: left;
    }


    .subscribe input {
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        background-color: #FFFFFF;
        width: 100%;
        color: #00274C;
        text-align: left;
        margin-bottom: 1rem;
        display: inline-block;
    }

    .subscribe button {
        padding: 0.5rem;
        background-color: #FFCB05;
        color: #00274C;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    .subscribe button:hover {
        opacity: 0.6;
    }
}